
  <div class="row margin-straight">
    <%= render 'public/items/sidebar', genres: @genres %>
    <div class="col-lg-7 d-flex align-items-center justify-content-center back-image">
      <div class="border back-color">
        <br>
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
        <br>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3"></div>
    <h3 class="col-lg-9">新着商品</h3>
  </div>

  <div class="row">
    <div class="col-lg-3"></div>
    <% @items.each do |item| %>
    <div class="col-lg-2 px-0 mr-3 image_size_small">
      <%= link_to item_path(item.id) do %>
        <%= attachment_image_tag item, :image %><br>
        <%= item.name %><br>
        <%= item.add_tax_price.to_s(:delimited) %>円
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-end">
    <%= link_to "全ての商品を見る >", items_path %>
  </div>

