<script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>

<h4>新規会員登録</h4>

<%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
  <%= render "public/devise/shared/error_messages", resource: resource %>

  <div class="container">

    <div class="form-group row">
      <div class="col-lg-1"></div>
      <div class="col-lg-2 d-flex align-items-center px-0"><%= f.label :last_name, "氏名" %></div>
      <div class="col-lg-1 d-flex align-items-center justify-content-end px-0">(性)</div>
      <div class="col-lg-3"><%= f.text_field :last_name, class: "form-control" %></div>
      <div class="col-lg-1 text-right d-flex align-items-center justify-content-end px-0">(名)</div>
      <div class="col-lg-3"><%= f.text_field :first_name, class: "form-control" %></div>
    </div>

    <div class="form-group row">
      <div class="col-lg-1"></div>
      <div class="col-lg-2 d-flex align-items-center px-0"><%= f.label :last_name_kana, "フリガナ" %></div>
      <div class="col-lg-1 d-flex align-items-center justify-content-end px-0">(セイ)</div>
      <div class="col-lg-3"><%= f.text_field :last_name_kana, class: "form-control" %></div>
      <div class="col-lg-1 text-right d-flex align-items-center justify-content-end px-0">(メイ)</div>
      <div class="col-lg-3"><%= f.text_field :first_name_kana, class: "form-control" %></div>
    </div>

    <div class="form-group row">
      <div class="col-lg-1"></div>
      <div class="col-lg-2 d-flex align-items-center px-0"><%= f.label :email, "メールアドレス" %></div>
      <div class="col-lg-1"></div>
      <div class="col-lg-3"><%= f.text_field :email, class: "form-control" %></div>
    </div>

    <div class="form-group row">
      <div class="col-lg-1"></div>
      <div class="col-lg-2 px-0"><%= f.label :postal_code, "郵便番号" %></div>
      <div class="col-lg-1"></div>
      <div class="col-lg-3"><%= f.text_field :postal_code, class: "form-control" %></div>
    </div>

    <div class="form-group row">
      <div class="col-lg-1"></div>
      <div class="col-lg-2 d-flex align-items-center px-0">住所</div>
      <div class="col-lg-1 d-flex align-items-center justify-content-end px-0">(都道府県)</div>
      <div class="col-lg-3"><%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, {}, {class: "form-control"} %></div>
      <div class="col-lg-1 d-flex align-items-center justify-content-end px-0">(市区町村)</div>
      <div class="col-lg-3"><%= f.text_field :address_city, class: "form-control" %></div>
    </div>

    <div class="form-group row">
      <div class="col-lg-3"></div>
      <div class="col-lg-1 d-flex align-items-center justify-content-end px-0">(町名番地)</div>
      <div class="col-lg-3"><%= f.text_field :address_street, class: "form-control" %></div>
    </div>

    <div class="form-group row">
      <div class="col-lg-3"></div>
      <div class="col-lg-1 d-flex align-items-center justify-content-end px-0">(建物名)</div>
      <div class="col-lg-7"><%= f.text_field :address_building, class: "form-control" %></div>
    </div>

    <div class="form-group row">
      <div class="col-lg-1"></div>
      <div class="col-lg-2 d-flex align-items-center px-0"><%= f.label :telephone_number, "電話番号" %></div>
      <div class="col-lg-1"></div>
      <div class="col-lg-3"><%= f.text_field :telephone_number, class: "form-control" %></div>
    </div>

    <div class="form-group row">
      <div class="col-lg-1"></div>
      <div class="col-lg-2 px-0">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-3"><%= f.password_field :password, autocomplete: "new-password", class: "form-control" %></div>
    </div>

    <div class="form-group row">
      <div class="col-lg-1"></div>
      <div class="col-lg-2 d-flex align-items-center px-0"><%= f.label :password_confirmation, "パスワード(確認用)" %></div>
      <div class="col-lg-1"></div>
      <div class="col-lg-3"><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %></div>
    </div>

    <div class="actions row">
      <div class="col-lg-1"></div>
      <div class="col-lg-3"></div>
      <div class="col-lg-8"><%= f.submit '新規登録', class:"btn btn-success btn-lg px-0 w-25" %></div>
    </div>

  </div>

<% end %>

<h4>既に登録済みの方</h4>
<div class="margin-left-large">
  <%= link_to "こちら", new_customer_session_path %>からログインしてください。
</div>

