<script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>

<h4>配送先編集</h4>

  <%= form_with model: @address, url: address_path(@address.id), local: true do |f| %>
    <div class="form-group row">
      <div class="col-lg-3 d-flex align-items-center"><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></div>
      <div class="col-lg-3"><%= f.text_field :postal_code, class: "form-control" %></div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2 d-flex align-items-center">住所</div>
      <div class="col-lg-1 d-flex align-items-center justify-content-end px-0">(都道府県)</div>
      <div class="col-lg-3"><%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, {}, {class: "form-control"} %></div>
      <div class="col-lg-1 d-flex align-items-center justify-content-end px-0">(市区町村)</div>
      <div class="col-lg-3"><%= f.text_field :address_city, class: "form-control" %></div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2"></div>
      <div class="col-lg-1 d-flex align-items-center justify-content-end px-0">(町名番地)</div>
      <div class="col-lg-3"><%= f.text_field :address_street, class: "form-control" %></div>
    </div>

    <div class="form-group row">
      <div class="col-lg-2"></div>
      <div class="col-lg-1 d-flex align-items-center justify-content-end px-0">(建物名)</div>
      <div class="col-lg-7"><%= f.text_field :address_building, class: "form-control" %></div>
    </div>

    <div class="form-group row">
      <div class="col-lg-3"><%= f.label :name, "宛名" %></div>
      <div class="col-lg-3"><%= f.text_field :name, class: "form-control" %></div>
      <div class="col-lg-2"></div>
      <div class="col-lg-4 mt-3"><%= f.submit '変更内容を保存', class:"btn btn-success btn-lg px-0 w-75" %></div>
    </div>
  <% end %>