  <h4>注文履歴一覧</h4>

  <table class="table table-bordered table-inverse">
    <thead>
      <tr>
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td class="align-middle"><%= order.created_at.strftime('%Y/%m/%d') %></td>
          <td class="align-middle">
            〒<%= order.postal_code_item %></br>
            <%= order.prefecture_code_item %><%= order.address_city_item %><%= order.address_street_item %>
            　<%= order.address_building_item %></br>
            <%= order.name_item %>
          </td>
          <td class="align-middle" style="width: 210px;">
            <% order.order_details.all.each do |order_detail| %>
              <%= order_detail.item.name %></br>
            <% end %>
          </td>
          <td class="align-middle"><%= order.total_amount.to_s(:delimited, delimiter: ',') %>円</td>
          <td class="align-middle"><%= order.order_status %></td>
          <td class="center align-middle"><%= link_to "表示する", order_path(order.id), class:"btn btn-primary px-25" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
