<h4>注文情報入力</h4>


<%= form_with model: @order, url: confirm_orders_path, method: :post, local: true do |f| %>
  <h3>支払方法</h3>
  <div class="margin-left">
    <%= f.radio_button :payment, 0 %>
    <%= f.label :payment, Order.payment_methods_i18n[:credit_card] %></br>
    <%= f.radio_button :payment, 1 %>
    <%= f.label :payment, Order.payment_methods_i18n[:transfer] %>
  </div>

  <h3>お届け先</h3>
  <div class="margin-left">
    <p>
      <%= f.radio_button :selected_address, 1 %>
      <%= f.label :selected_address, "ご自身の住所" %></br>
      　〒<%= current_customer.postal_code %>
      <%= current_customer.prefecture_name %><%= current_customer.address_city %><%= current_customer.address_street %>
      <%= current_customer.address_building %></br>
      　<%= current_customer.last_name %><%= current_customer.first_name %>
    </p>
    <p>
      <%= f.radio_button :selected_address, 2 %>
      <%= f.label :selected_address, "登録済み住所から選択" %></br>
    　<%= f.select :address_id, options_from_collection_for_select(current_customer.addresses, :id, :full_address), prompt: "住所を選択してください" %>
    </p>
    <p>
      <div class="mb-0">
        <%= f.radio_button :selected_address, 3 %>
        <%= f.label :selected_address, "新しいお届け先" %>
      </div>
      <div class="form-group row mb-1">
        <label class="col-lg-3">　郵便番号(ハイフンなし)</label>
        <div class="col-lg-3"><%= f.text_field :postal_code_item, class:"form-control"%></div>
      </div>

      <div class="form-group row mb-1">
        <div class="col-lg-2 d-flex align-items-center">　住所</div>
        <div class="col-lg-1 d-flex align-items-center justify-content-end px-0">(都道府県)</div>
        <div class="col-lg-3"><%= f.collection_select :prefecture_code_item, JpPrefecture::Prefecture.all, :code, :name, {}, {class: "form-control"} %></div>
        <div class="col-lg-1 d-flex align-items-center justify-content-end px-0">(市区町村)</div>
        <div class="col-lg-3"><%= f.text_field :address_city_item, class: "form-control" %></div>
      </div>

      <div class="form-group row mb-1">
        <div class="col-lg-2"></div>
        <div class="col-lg-1 d-flex align-items-center justify-content-end px-0">(町名番地)</div>
        <div class="col-lg-3"><%= f.text_field :address_street_item, class: "form-control" %></div>
      </div>

      <div class="form-group row mb-1">
        <div class="col-lg-2"></div>
        <div class="col-lg-1 d-flex align-items-center justify-content-end px-0">(建物名)</div>
        <div class="col-lg-7"><%= f.text_field :address_building_item, class: "form-control" %></div>
      </div>

      <div class="form-group row mb-1">
        <label class="col-lg-3">　宛名</label>
        <div class="col-lg-3"><%= f.text_field :name_item, class:"form-control" %></div>
      </div>
    </p>
  </div>

  <div class="center">
    <%= f.submit "確認画面へ進む",class:"btn btn-lg btn-primary" %>
  </div>

<% end %>
