<h4>注文履歴詳細</h4>

<div class="row">

  <div class="col-sm-7">
    <p class="ml-2 font-weight-bold">注文情報</p>
    <table class="table table-bordered">
      <tr>
        <th bgcolor="whitesmoke" style="width: 120px;">注文日</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <th bgcolor="whitesmoke" class="align-middle">配送先</th>
        <td>
          〒<%= @order.postal_code_item %></br>
          <%= @order.prefecture_code_item %><%= @order.address_city_item %><%= @order.address_street_item %>
          　<%= @order.address_building_item %></br>
          <%= @order.name_item %>
        </td>
      </tr>
      <tr>
        <th bgcolor="whitesmoke">支払方法</th>
        <td><%= @order.payment_i18n %></td>
      </tr>
      <tr>
        <th bgcolor="whitesmoke">ステータス</th>
        <td><%= @order.order_status_i18n %></td>
      </tr>
    </table>
  </div>

  <div class="col-sm-3">
    <p class="ml-2 font-weight-bold">請求情報</p>
    <table class="table table-bordered table-inverse">
      <tr>
        <th bgcolor="whitesmoke" style="width: 100px;">商品合計</th>
        <td><%= (@order.total_amount - @order.postage).to_s(:delimited, delimiter: ',') %></td>
      </tr>
      <tr>
        <th bgcolor="whitesmoke">配送料</th>
        <td><%= @order.postage.to_s(:delimited, delimiter: ',') %></td>
      </tr>
      <tr>
        <th bgcolor="whitesmoke">ご請求額</th>
        <td><%= @order.total_amount.to_s(:delimited, delimiter: ',') %></td>
      </tr>
    </table>
  </div>

  <div class="col-sm-2"></div>

</div>


<p class="ml-2 mt-3 font-weight-bold">注文内容</p>
<table class="table table-bordered table-inverse" style="width: 70%;">
  <thead>
    <tr>
      <th>商品</th>
      <th>単価(税込)</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>

  <tbody>
    <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td style="width: 150px;"><%= order_detail.price_purchase.to_s(:delimited, delimiter: ',') %></td>
        <td><%= order_detail.amount %></td>
        <td><%= order_detail.subtotal_tax_price_purchase.to_s(:delimited, delimiter: ',') %></td>
      </tr>
    <% end %>
  </tbody>
</table>